:root {
  --lighter-blue: #0a5daaaa;
  --light-blue: #0a5daa;
  --dark-blue:#0a3050;

  --white: #fff;
  --lightest-gray: #f0f0f0;
  --lighter-gray: #e5e5e5;
  --light-gray: #7a7a7a;
  --gray: #515151;
  --dark-gray: #323232; 
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  color: var(--gray);
  background-color: var(--white);
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: var(--light-blue);
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .25rem;
  font-weight: bold;
  line-height: 1.25;
  color: var(--dark-gray);
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 2rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1.5rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: var(--dark-gray);
}


/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid var(--lighter-gray);
  border-bottom: 1px solid var(--white);
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted var(--lighter-gray);
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .25em;
  font-size: 85%;
  background: var(--lightest-gray);
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 1rem;
  background: var(--lightest-gray);
}
.highlight pre {
  margin-bottom: 0;
}
.highlight .hll {
  display: block;
  width: 100%;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: var(--light-gray);
  border-left: .25rem solid var(--lighter-gray);
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto 1rem;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--lighter-gray);
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid var(--lighter-gray);
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--lightest-gray);
}
