{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ SITETITLE }}/Blog{%endblock%}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="post">
	<h1 class="post-title">{{ article.title }}</h1>
	<span class="post-date">{{ article.locale_date }}</span>
	<div class="post-content">
		{{ article.content }}
	</div>
</div>

{% if TAG_URL and article.tags %}
	<div class="post-meta">
		Tags:
			{% for tag in article.tags %}
			<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
			{% endfor %}
	</div>
{% endif %}
{% endblock %}
