<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
    {% include 'fragments/google_analytics.html' %}

		{% block head %}
		<link href="http://gmpg.org/xfn/11" rel="profile">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<!-- Enable responsiveness on mobile devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>{% block title %}{{ SITETITLE }}{% endblock title %}</title>

		<!-- CSS -->
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/poole.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/hyde.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/syntax/friendly.css" />

    <!-- FONTS -->
    <link href="//fonts.googleapis.com/" rel="dns-prefetch">
    <link href="//fonts.googleapis.com/css?family=Abril+Fatface:700|PT+Sans:400,400italic,700&subset=latin,latin-ext&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/academicons.min.css" />

     <!-- FAVICON -->
    <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icon/favicon-32.png" sizes="32x32">
    <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icon/favicon-128.png" sizes="128x128">
    <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icon/favicon-180.png" sizes="180x180">
    <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icon/favicon-192.png" sizes="192x192">
    

		<!-- RSS -->
		<!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"> -->
		{% endblock %}
	</head>

{% block body %}
	<body id="{% if (page and page.title == 'Home') -%} home {%- endif %}">
		{% include 'fragments/sidebar.html' %}
		<div class="content container">
			{% block content %}
			{% endblock %}
		</div>

    <p class="copyright">&copy; 2020&ndash;{{ CURRENTYEAR }}. All rights reserved.</p>
	</body>
{% endblock %}

<script type="text/javascript">
  const menuBtn = document.getElementById('mobile-menu-open');
  const menuBtnAlt = document.getElementById('mobile-menu-open-alt');
  
  menuBtn.addEventListener('click', function (e) {
    e.preventDefault();
    e.stopPropagation();
    document.getElementById('mobile-navigation').classList.add('open');

    document.getElementById('backdrop').addEventListener('click', closeMenu);
    document.getElementById('menu-close').addEventListener('click', closeMenu);
  });

  menuBtnAlt.addEventListener('click', function (e) {
    e.preventDefault();
    e.stopPropagation();
    document.getElementById('mobile-navigation').classList.add('open');

    document.getElementById('backdrop').addEventListener('click', closeMenu);
    document.getElementById('menu-close').addEventListener('click', closeMenu);
  });

  function closeMenu(e) {
    e.preventDefault();
    e.stopPropagation();

    if ( document.getElementById('mobile-navigation').classList.contains('open') ) {
        document.getElementById('mobile-navigation').classList.remove('open');
        document.getElementById('backdrop').removeEventListener('click', closeMenu);
        document.getElementById('menu-close').removeEventListener('click', closeMenu);
    }
  }
</script>
<script src="https://kit.fontawesome.com/19c5dfafcc.js" crossorigin="anonymous"></script>

</html>
