{% extends "base.html" %}

{% block content %}
	{% for article in articles_page.object_list %}
		<div class="index-post">
			<h1 class="index-title" href="{{ article.slug }}">
				<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
			</h1>
			<span class="index-date">{{ article.locale_date }}</span>

			<div class="index-summary">
				{{ article.summary | striptags }}
			</div>
		</div>
	{% endfor %}

	{% if DEFAULT_PAGINATION %}
	<div id="pagination">
		<div class="pagination-item">
			{% if articles_page.has_next() %}
				<a href="{{ SITEURL }}/{{ articles_next_page.url }}">Older</a>
			{% else %}
				Older
			{% endif %}
		</div>

		<div class="pagination-item">
			{% if articles_page.has_previous() %}
				{% set num = articles_page.previous_page_number() %}
				<a href="{{ SITEURL }}/{{ articles_previous_page.url }}">Newer</a>
			{% else %}
				Newer
			{% endif %}
		</div>
	</div>
	{% endif %}
{% endblock %}
