{% extends "base.html" %}

{% block title %}{{ SITETITLE }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}

  <style>
    .sidebar-social, .sidebar-about {
        display: none;
    }
</style>

{% endblock %}

{% block body %}
<body class="layout-reverse">
    {% set DISPLAY_PAGES_ON_MENU = False %}
    {% set MENUITEMS = [('Content','#content'), ('Presenters','#presenters'), ('&nbsp;',''), ('&#x2190;&nbsp;&nbsp;Main website', SITEURL)] %}
    {% include 'fragments/sidebar.html' %}
    
    <!-- <div class="sidebar">
        <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="#research">Research</a>
        <a class="sidebar-nav-item" href="#teaching">Teaching</a>
        <a class="sidebar-nav-item" href="#diversity">Diversity</a>
        <a class="sidebar-nav-item" href="../pdf/lfochamon_cv.pdf">CV</a>
        </nav>

        <div class="container sidebar-sticky">
            <div class="sidebar-about">
                <h1>
                    <a href="{{ SITEURL }}">
                        <img class="profile-picture" src="{{ SITEURL }}/{{ PROFILE_IMAGE }}">
                        Luiz Chamon
                    </a>
                </h1>
            </div>

            <p class="copyright">&copy; 2020&ndash;{{ CURRENTYEAR }}. All rights reserved.</p>
        </div>
    </div> -->

    <div class="content container">
            {{ page.content }}
    </div>
</body>
{% endblock %}
