{#
 ##############################################################
 # LIGHTBOX ###################################################
 ##############################################################

 Creates a lightbox modal to display pictures.

 Use link `[Label](#){: onclick="openModal(event, 'id');"}`

 # Args

 images: list of tuples (image URL, caption)
 id: modal ID
#}

{% macro lightbox(images, id) -%}
<div id="{{ id }}" class="modal">
  <div class="modal-content">
    {% for url, caption in images %}
      <div class="modal-slides">
        <img src="{{ url }}" alt="{{ caption }}">
        <span class="close" onclick="closeModal('{{ id }}')">&times;</span>
        <a href="#" class="prev" onclick="navigateSlides(event, '{{ id }}', -1)">&#10094;</a>
        <a href="#" class="next" onclick="navigateSlides(event, '{{ id }}', +1)">&#10095;</a>
      </div>
    {% endfor %}

    <div class="modal-caption"></div>
  </div>
</div>
{%- endmacro %}
